/* Style for all page */
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Header Styles */
header {
    position: sticky;
    top: 0px;
}

/* nav bar style */
nav {
    background-color: orange;
    padding: 1rem;
}

.active {
    border-bottom: 5px solid orangered;
    border-radius: 5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li:hover {
    border-bottom: 5px solid #ff4500;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* logo style with animated effects*/
.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.logo span {
    display: inline-block;
    transform-style: preserve-3d;
    /* add this */
    transform: rotateY(90deg);
    animation: rotate 2s infinite;
    margin: auto;
}


.logo span:nth-child(1) {
    animation-delay: 0.1s;
}

.logo span:nth-child(2) {
    animation-delay: 0.2s;
}

.logo span:nth-child(3) {
    animation-delay: 0.3s;
}

.logo span:nth-child(4) {
    animation-delay: 0.4s;
}

.logo span:nth-child(5) {
    animation-delay: 0.5s;
}

.logo span:nth-child(6) {
    animation-delay: 0.6s;
}

.logo span:nth-child(7) {
    animation-delay: 0.7s;
}

.logo span:nth-child(8) {
    animation-delay: 0.8s;
}

.logo span:nth-child(9) {
    animation-delay: 0.9s;
}

.logo span:nth-child(10) {
    animation-delay: 1s;
}

.logo span:nth-child(11) {
    animation-delay: 1.1s;
}

.logo span:nth-child(12) {
    animation-delay: 1.2s;
}

.logo span:nth-child(13) {
    animation-delay: 1.3s;
}

.logo span:nth-child(14) {
    animation-delay: 1.4s;
}

@keyframes rotate {
    0% {
        transform: rotateY(90deg);
    }

    50% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(90deg);
    }
}

/* logo style animation end */

/* Welcome Section Styles */
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('https://source.unsplash.com/random/1600x900');
    background-image: url("file:///C:/Users/Sudeep/Downloads/books-1281581.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.welcome h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 2px 2px #000;
}

.welcome p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    padding: 1rem 2rem;
    background-color: #fff;
    color: orange;
}

.btn:hover {
    color: #fff;
    background-color: #ff4500;
    transition: background-color 0.3s ease-in-out;
}

/* youtube_cards style*/
.youtube_cards {
    padding: 4rem;
    background-color: #f7f7f7;
    text-align: center;
}

.youtube_cards h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.card {
    flex-basis: calc(33% - 2rem);
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.card a {
    padding: 0.5rem 1rem;
    background-color: orange;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.card a:hover {
    background-color: #ff4500;
}

/* Footer Styles */
footer {
    background-color: rgb(255, 218, 150);
    color: #000;
    padding: 2rem;
    text-align: center;
}

footer p {
    font-size: 1.1rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    font-size: 14px;
}

.footer-container .logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-container ul li {
    margin: 0 10px;
}

.footer-container ul li a {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
}



/* all page newsletter style */
.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.newsletter-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.newsletter-form button {
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #ff5722;
}

/* all page newsletter style end */

/* Quick links like privacy term and conditions */
.quick-links {
    background-color: rgb(255, 198, 92);
    color: #000;
    padding: 20px 0;
}

.quick-links-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quick-links-container a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin: 0 20px;
    transition: all 0.3s ease;
}

/* .quick-links end  */

/* footer social media and contact details */
.social-media,
.contact-details {
    flex-basis: 30%;
    margin-top: 10px;
}

.social-media ul,
.contact-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-media li,
.contact-details li {
    margin: 0 10px;
}

.social-media a,
.contact-details li {
    color: #000;
    font-size: 20px;
}

.contact-details i {
    margin-right: 10px;
}

.contact-details li {
    margin-top: 10px;
}

.contact-details h3,
.social-media h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-details li,
.social-media li {
    display: flex;
    align-items: center;
    white-space: nowrap
}

/* Contact page card details style */
.card-email {
    border-left: 4px solid #f44336;
    margin: 10px;
    border-radius: 10px;

}

.card-phone {
    border-left: 4px solid #4caf50;
    margin: 10px;
    border-radius: 10px;

}

.card-address {
    border-left: 4px solid #2196f3;
    margin: 10px;
    border-radius: 10px;

}

.card-social {
    border-left: 4px solid #ff9800;
    margin: 10px;
    border-radius: 10px;

}

.card-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
}

.card-social li {
    margin-right: 10px;
    margin: 10px;
}

.card-social li a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
}

.card_container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;


}

/* Contact page card details style end*/

/* blog page card details style */
.blog-post {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    overflow: hidden;
}

.blog-post img {
    width: 100%;
}

.blog-post-content {
    padding: 20px;
}

.blog-post-content h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

.post-meta {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.post-meta i {
    margin-right: 5px;
}

.read-more {
    display: inline-block;
    background-color: orangered;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.read-more:hover {
    background-color: #333;
}

/* blog post card details end */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

div h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

div h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #333;
}

div p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}




/* Style the form section */

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

input[type=submit] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #555;
}


/* video page style */
.videos {
    padding: 50px 0;
  }
  
  .videos .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .video {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .video iframe {

    max-width: 700px;
    border: none;
  }
  
  .video-left {
    align-items: flex-start;
  }
  
  .video-right {
    display: flex;
    align-items: flex-end;

  }

  .video-left .video-details {
    margin-left: 50px;
    text-align: left;
  }
  
  .video-right .video-details {
    margin-right: 50px;
    text-align: right;
  }
  
  .video-details h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .video-details p {
    font-size: 18px;

  }
  
/* video page style end */
/* Styles for screens less than 600px wide */
@media only screen and (max-width: 600px) {
    .header {
        font-size: 18px;
    }

    .nav li {
        display: block;
        width: 100%;
        text-align: center;
    }

    .content {
        width: 100%;
        margin: 0;
    }

    .footer {
        font-size: 14px;
        text-align: center;
    }
}


/*  */